p{
  margin: 0;
}

/* SECTION id selectors */
#header{
  background-color: #585858;
  font-size: .8em;
  font-weight: bolder;
}

#cupcake-background{
  opacity: .2;
  height: 100%;
  width: 100%;
}

#cupcake-container{
  background-image: url("./Assets/cupcake-bg.svg");
  background-size: cover;
  height: calc(100vh - 20vh - 19.21px);
}

#upgrade-container{
  background: linear-gradient(180deg, #663F10 0%, #966225 43.23%, #754712 100%);
}

#info-container{
  background: linear-gradient(90.11deg, #913692 0.09%, #c55ac7 44.66%, #7f4380 99.92%);
  height: 20vh;
}

/* SECTION Class Selectors */


.cupcake{
  height: 50%;
}
.cupcake:active{
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

.upgrade-img{
  height: 40px;
  width: 40px;
  margin: 1em;
}
.upgrade-img:active{
  animation: shrink-grow .1s;
}
.upgrade-img:hover

.mf{
  font-size: .45em;
}

/* SECTION MEDIA QUERY */
@media (min-width: 576px) {
  .cupcake{
    height: 65%;
  }
}

@media (min-width: 768px) {
  .cupcake{
    height: 85%;
  }
}

@media (min-width: 992px) {
  .mf{
    font-size: 1.5em;
  }
}

@media (min-width: 1200px) {
  .cupcake{
    height: 100%;
  }
}

@media (min-width: 1400px) {
}


/* SECTION element selectors */

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
/* SECTION my own animation I took it out cause it didnt line up with what i wanted */
/* @keyframes shrink-grow {
  5% { transform: scale(.9); }
  10% { transform: scale(.8); }
  15% { transform: scale(.7); }
  20% { transform: scale(.6); }
  25% { transform: scale(.5); }
  30% { transform: scale(.4); }
  65% { transform: scale(.6); }
  70% { transform: scale(.7); }
  75% { transform: scale(.8); }
  80% { transform: scale(.9); }
  100% { transform: scale(1); }
} */



.handTip .ovenMittTip
.microwaveTip .granmaTip .ovenTip .foodTruckTip .factoryTip{
  position: relative;
  display: inline-block;
  opacity: 1;
}

/* STUB MANUAL */
.handTip .handTipText,
.ovenMittTip .ovenMittTipText,
/* STUB AUTOMATIC */
.microwaveTip .microwaveTipText,
.granmaTip .granmaTipText,
.ovenTip .ovenTipText,
.foodTruckTip .foodTruckTipText,
.factoryTip .factoryTipText{
  visibility: hidden;
  width: auto;
  background-color: black;
  color: #fff;
  padding: 1em;
  border-radius: 6px;
  position: absolute;
  right: 25%;
  z-index: 2;
  opacity: 1;
}
/* STUB MANUAL */
.handTip:hover .handTipText,
.ovenMittTip:hover .ovenMittTipText,
/* STUB AUTOMATIC */
.microwaveTip:hover .microwaveTipText,
.granmaTip:hover .granmaTipText,
.ovenTip:hover .ovenTipText,
.foodTruckTip:hover .foodTruckTipText,
.factoryTip:hover .factoryTipText{
  visibility: visible;
}