p{
  margin: 0;
}

/* SECTION id selectors */
#header{
  background-color: #585858;
  font-size: .8em;
  font-weight: bolder;
}

#cupcake-background{
  opacity: .2;
  height: 100%;
  width: 100%;
}

#cupcake-container{
  background-image: url("./Assets/cupcake-bg.svg");
  background-size: cover;
  height: calc(100vh - 20vh - 19.21px);
}

#upgrade-container{
  background: linear-gradient(180deg, #663F10 0%, #966225 43.23%, #754712 100%);
}

#info-container{
  background: linear-gradient(90.11deg, #913692 0.09%, #c55ac7 44.66%, #7f4380 99.92%);
  height: 20vh;
}

/* SECTION Class Selectors */

.cupcake{
  height: 50%;
}
.cupcake:active{
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

.upgrade-img{
  height: 40px;
  width: 40px;
  margin: 1em;
}
.upgrade-img:active{
  animation: shrink-grow .1s;
}

.mf{
  font-size: .65em;
}

/* SECTION MEDIA QUERY */
@media (min-width: 576px) {
  .cupcake{
    height: 65%;
  }
}

@media (min-width: 768px) {
  .cupcake{
    height: 85%;
  }
}

@media (min-width: 992px) {
  .mf{
    font-size: 1em;
  }
}

@media (min-width: 1200px) {
  .cupcake{
    height: 100%;
  }
}

@media (min-width: 1400px) {
}


/* SECTION element selectors */

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

@keyframes shrink-grow {
  5% { transform: scale(.9); }
  10% { transform: scale(.8); }
  15% { transform: scale(.7); }
  20% { transform: scale(.6); }
  25% { transform: scale(.5); }
  30% { transform: scale(.4); }
  35% { transform: scale(.3); }
  40% { transform: scale(.2); }
  45% { transform: scale(.2); }
  50% { transform: scale(.3); }
  55% { transform: scale(.4); }
  60% { transform: scale(.5); }
  65% { transform: scale(.6); }
  70% { transform: scale(.7); }
  75% { transform: scale(.8); }
  80% { transform: scale(.9); }
  100% { transform: scale(1); }
}